body,
html,
#allmap {
    width: 95%;
    height: 95%;
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑";
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  